

<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dolci</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
		integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"
		integrity="sha512-S5PZ9GxJZO16tT9r3WJp/Safn31eu8uWrzglMahDT4dsmgqWonRY9grk3j+3tfuPr9WJNsfooOR7Gi7HL5W2jw=="
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="./css/style.css">

	<script type="text/javascript">
		$(document).ready(function () {


			// dynamic version

			$.ajax({
				url: '/api/dolci',
				method: 'get',
				success: function (data) {

					$('.grid').html("");

					for (var i = data.length - 1; i >= 0; i--) {
						if (data[i].prezzo > 0) {
							$('.grid').append('<div class="grid-item' + i + '" onmouseover="mostra_lista(' + i + ')" onmouseout="nascondi_lista(' + i + ')"><label id="dolce_' + i + '">' + data[i].nome + ' ' + data[i].prezzo + '&euro;</label></div>');
							var lista_ist = data[i]['listaIstanze'];
							if (lista_ist.length > 0) {
								$('.grid-item' + i).append('<div id="ist' + i + '" class="ist' + i + '" >');
								$('.ist' + i).append('<b>Lista Prodotti</b><br>');

								for (var j = 0; j < lista_ist.length; j++) {
									var now = new Date();
									now.setHours(0);
									now.setMinutes(0);
									now.setSeconds(0);
									now.setMilliseconds(0);
									var date1 = new Date(lista_ist[j].data);
									date1.setHours(0);
									date1.setMinutes(0);
									date1.setSeconds(0);
									date1.setMilliseconds(0);
									var Difference_In_Time = now.getTime() - date1.getTime();
									var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

									if (Difference_In_Days <= 2) {
										var prezzo_mod;
										if(Difference_In_Days == 0){
										 prezzo_mod = data[i].prezzo;
										} 
										if(Difference_In_Days == 1.0){
										 prezzo_mod = (data[i].prezzo*0.8).toFixed(2);
										} 
										if(Difference_In_Days == 2.0){
										 prezzo_mod = (data[i].prezzo*0.2).toFixed(2);
										} 
										$('.ist' + i).append('<label>' + lista_ist[j].data + " " +
											', prezzo: ' + prezzo_mod + '&euro;</label><br>');
									}
								}
							}
							var lista_i = data[i]['lista'];
							if (lista_i.length > 0) {
								$('.grid-item' + i).append('<div id="hide' + i + '" class="hide' + i + '" style="display:none" >');
								$('.hide' + i).append('<b>Lista Ingredienti</b><br>');

								for (var j = 0; j < lista_i.length; j++) {
									$('.hide' + i).append('<label>' + lista_i[j].qta + " " +
										lista_i[j].uMisura + " di " + lista_i[j].nome + '</label><br>');

								}
							}

						}

					}

					// init Masonry
					var $grid = $('.grid').masonry({
						itemSelector: '.grid-item'
					});

					// layout Masonry after each image loads
					$grid.imagesLoaded().progress(function () {
						$grid.masonry('layout');
					});
				}
			});


		});

		function mostra_lista(i) {
			var cl = 'hide' + i;
			document.getElementById(cl).style.display = 'block';
		}

		function nascondi_lista(i) {
			var cl = 'hide' + i;
			document.getElementById(cl).style.display = 'none';
		}
	</script>
</head>

<body>

	<header>

		<div>Dolci</div>
		<div>
			<a href="./admin">Admin</a>
		</div>

	</header>

	<main>

		<div class="grid" style="position: relative; height: 2506.98px;">

		</div>

	</main>


</body>

</html>